{% extends 'main/SameCode.html'%}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'main/CSS/main.css' %}" xmlns:text-decoration="http://www.w3.org/1999/xhtml">{% endblock %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
{%block title%} {{request.user.username}} {%endblock%}

{%block body%}

<div class="features">

    <h1></h1>
    <p></p>

</div>

<div class="card profile-card m-2">
		  <div class="card-body" style="margin-left:10vw; margin-right:10vw;">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		<div class="image-container mx-auto mb-4">
		  			<img class="d-block border border-dark rounded-circle img-fluid mx-auto profile-image" alt="codingwithmitch logo" id="id_profile_image" src="{{profile_image}}">
		  		</div>
		  		<p class="mt-4 mb-1 field-heading">Email</p>

		  		{%  if is_self %}
		  			<h5 style="margin-left:5px;">{{email}}</h5>
		  		{% else %}
		  			{% if hide_email %}
			  			<h5 style="margin-left:5px;">**********</h5>
			  		{% else %}
			  			<h5 style="margin-left:5px;">{{email}}</h5>
			  		{% endif %}
			  	{% endif %}
		  		<p class="mt-4 mb-1 field-heading">Имя</p>
		  		<h5 style="margin-left:5px;">{{username}}</h5>

				<p class="mt-4 mb-1 field-heading">Средства</p>

		  		{%  if is_self %}
					<h5 style="margin-left:5px;">{{money}}$</h5>
				{% endif %}
		  		<!-- If Auth user is viewing their own profile -->
		  		{% if is_self %}
		  		<a  class="mt-4 btn btn-primary" href="{% url 'account:edit' user_id=id %}" style="width:150px">Update</a>
				<div class="d-flex flex-column mt-4">
					<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
				</div>
		  		{% endif %}
		  	</div>
		  </div>
		</div>

{%endblock%}

